<div style="
    position: fixed;
    bottom: 100px;
    left: 50px;
    width: 220px;
    height: 160px;
    border: 2px solid grey;
    z-index: 9999;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
">
    <h4 style="margin:0 0 10px 0;">Cluster Colors</h4>
    <div style="background-color: #b5e28c; padding: 5px; margin: 2px; border-radius: 3px;">Small Cluster (1-10 locations)</div>
    <div style="background-color: #f1d357; padding: 5px; margin: 2px; border-radius: 3px;">Medium Cluster (11-100 locations)</div>
    <div style="background-color: #fd9c73; padding: 5px; margin: 2px; border-radius: 3px;">Large Cluster (100+ locations)</div>
    <div style="background-color: #0078ff; padding: 5px; margin: 2px; border-radius: 3px; color: white;">Individual Marker</div>
</div>